<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>{{ 'langApiSecret.lblApiCredential'| translate }}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{ 'langDashboardLeftMenu.lblAccPref' | translate }}</li>
          <li class="breadcrumb-item active">{{ 'langApiSecret.lblApiCredential'| translate }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="widget" *ngIf="googleFaStatus">
            <div class="auth">
              <div class="auth-icon auth-google">
                <img src="assets/img/idap-secret-key.svg" alt="">
              </div>
              <div class="auth-option">
                <h4>{{ 'langApiSecret.lblApiCredential'| translate }}</h4>
              </div>
              <button *ngIf="showButtons && secretGeneratedStatus == 'false'" type="button" class="form-button form-button-sm" (click)="generateCredentials();">{{ 'langApiSecret.btnGenerateBtnText'| translate }}</button>
              <button *ngIf="showButtons && secretGeneratedStatus == 'true'" type="button" class="form-button form-button-sm" (click)="viewCredentials();">{{ 'langApiSecret.btnViewBtnText'| translate }}</button>
            </div>
            <div *ngIf="serverError" class="auth-error">
              <p>{{serverError}}</p>
            </div>
            <div *ngIf="error" class="auth-error">
              <p>{{error}}</p>
            </div>
            <div *ngIf="successStatus" class="msg-success">
              <p>{{ 'langApiSecret.msgGenerationSuccess' | translate }}</p>
              <p>{{ 'langApiSecret.msgSecretKeyNote' | translate }}</p>
            </div>
            <div class="form-group" *ngIf="credentialApiKey">
              <label for="OldPassword">{{ 'langApiSecret.lblApiKey'| translate }}</label>
              <div class="form-input-box">{{credentialApiKey}}</div>
            </div>
            <div class="form-group" *ngIf="credentialSecretKey">
              <label for="NewPassword">{{ 'langApiSecret.lblApiSecret'| translate }}</label>
              <div class="form-input-box">{{credentialSecretKey}}</div>              
            </div>
          </div>
          <div class="widget" *ngIf="!googleFaStatus">
            <div>
              {{ 'langApiSecret.errTwoFactorAuth' | translate}}
          </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!--Tow Factor Code pop-up-->
<div class="twoFactorCodeClass" *ngIf="showTwoFactorForm">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
            <div class="page-title">
              <h1>{{ 'langTwoFactor.lblTwoFactor' | translate }}</h1>
            </div>
          </div>
          <div class="col-sm-6 text-right">
              <div><img src="../../../assets/img/icon-close-dark.png" alt="Alpha5 Exchange" (click)="hidePopup()"></div>
            </div>
        </div>
        <div class="row mobileRow">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="widget">
                    <form [formGroup]="twoFactorFormGroup" (ngSubmit)="onTwoFaSubmit()">
                     <div class="form-group">
                          <div class="d-flex">
                              <input 
                              formControlName="otp" 
                              type="text" 
                              class="form-input" 
                              [ngClass]="{'is-invalid': twoFASubmitted && twoFactorformFields.otp.errors}"
                              maxlength="6"
                              >
                          </div>
                          <div *ngIf="twoFASubmitted && twoFactorformFields.otp.errors" class="form-valid-error">
                              <div *ngIf="twoFactorformFields.otp.errors.required" class="error-msg">
                                {{ 'langTwoFactor.valEnterOtp' | translate }}
                              </div>
                            </div>
                      </div>
                      <div class="form-group text-right">
                          <button type="submit" class="form-button form-button-sm send-otp">{{ 'langTwoFactor.btnTwoSubmit' | translate }}</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>