<div
  class="restricted-country-notice"
  *ngIf="dataService.userCountryRestricted"
>
  <div class="title">
    Attention - You are accessing Alpha5 from a restricted location
  </div>
  <div class="content">
    You are currently accessing Alpha5 Exchange from a location where our
    services are restricted as per our Terms of Use. Henceforth, you are not
    allowed to trade on the Alpha5 Exchange.<br /><br />
    Your account is now restricted, please close all your open positions and
    withdraw any funds within 7 days. Failing to do so may lead to automatic
    liquidations and the closing of your account.<br /><br />
    If you are receiving this notice while accessing from a non-restricted
    location, you can contact us at info@alpha5.io.
  </div>
</div>
