<div class="wrapper">
  <app-side-panel></app-side-panel>
  <div class="frm-wrapper register">
    <section class="frm-block">
      <div class="container">
        <app-login-logo></app-login-logo>
        <div class="row">
          <div class="col-sm-12">
            <div class="frm-outer">
              <ul class="frm-tabs">
                <li><a routerLink="/login">Log In</a></li>
                <li><a href="javascript:;" class="active">Register</a></li>
              </ul>
              <div class="frm-body signin-wd">
                  <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit();">                  
                  <div class="form-group input-ico email">
                    <label for="emailAddress" class="form-label">Email</label>
                    <input
                    formControlName="email" 
                    type="email" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.email.errors}" 
                    >
					          <div *ngIf="submitted && formFields.email.errors" class="form-valid-error">
                        <div *ngIf="formFields.email.errors.email" class="error-msg">
                            Please enter email address!
                        </div>
                        <div *ngIf="formFields.email.errors.required" class="error-msg">
                            Email is required!
                        </div>
                    </div>
                  </div>
                  <div class="form-group input-ico pwd">
                    <label for="password" class="form-label">Password</label>
                    <input
                    formControlName="password" 
                    type="password" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.password.errors}"
                    placeholder="8-20 alpha numeric characters"
                    maxlength="20"
                    minlength="8" 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                    >
					          <div *ngIf="submitted && formFields.password.errors" class="form-valid-error">
                      <div *ngIf="formFields.password.errors.email" class="error-msg">
                        Please enter valid password!
                      </div>
                      <div *ngIf="formFields.password.errors.required" class="error-msg">
                        Password is required!
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-ico pwd">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input
                    formControlName="confirmPassword" 
                    type="password" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.confirmPassword.errors}"
                    placeholder="8-20 alpha numeric characters"
                    maxlength="20"
                    minlength="8" 
                    >
					          <div *ngIf="submitted && formFields.confirmPassword.errors" class="form-valid-error">
                      <div *ngIf="formFields.confirmPassword.errors.email" class="error-msg">
                        Please enter valid password!
                      </div>
                      <div *ngIf="formFields.confirmPassword.errors.required" class="error-msg">
                        Password is required!
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-ico globe">
                    <label for="countrySelector" class="form-label">Country of Residence</label>
					          <div class="select-wrap">
                      <select name="country" id="countrySelector" value="IN" required="" data-restricted="[&quot;US&quot;,&quot;UM&quot;]" class="form-input">
                        <option value="" selected="">Click to choose a Country</option>
                        <option value="19">India (IN)</option>
                        <option value="20">Japan (JP)</option>
                        <option value="21">Sweden (SE)</option>
                        <option value="22">Switzerland (CH)</option>
                      </select>
                    </div>
				          </div>
                  <div class="form-group input-ico user">
                    <label for="username" class="form-label">First Name <span>(Optional)</span></label>
                    <input
                    formControlName="firstName" 
                    type="text" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.firstName.errors}" 
                    >
					          <div *ngIf="submitted && formFields.firstName.errors" class="form-valid-error">
                        <div *ngIf="formFields.firstName.errors.email" class="error-msg">
                            Please enter email address!
                        </div>
                        <div *ngIf="formFields.firstName.errors.required" class="error-msg">
                            First Name is required!
                        </div>
                    </div>
                  </div>
                  <div class="form-group input-ico user">
                      <label for="username" class="form-label">Last Name <span>(Optional)</span></label>
                      <input
                      formControlName="lastName" 
                      type="text" 
                      class="form-input"
                      [ngClass]="{'is-invalid': submitted && formFields.lastName.errors}" 
                      >
                      <div *ngIf="submitted && formFields.lastName.errors" class="form-valid-error">
                          <div *ngIf="formFields.lastName.errors.email" class="error-msg">
                              Please enter email address!
                          </div>
                          <div *ngIf="formFields.lastName.errors.required" class="error-msg">
                              Last Name is required!
                          </div>
                      </div>
                    </div>
                  <div class="form-group">
                    <div class="terms-wrapper">
                      <div data-style="check" class="cust-control">
                        <input type="checkbox" name="radio1" id="checkbox1.1">
                        <label for="checkbox1.1"><i></i></label>
                      </div>
                      <div class="label-control">I accept the <a target="_blank" href="terms.html">Terms of Service.</a></div>
                    </div>
                  </div>
                  <div class="form-group row ng-captcha-container" >
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      (load)="handleLoad()"
                      (success)="handleSuccess($event)"
                      formControlName="recaptcha"
                      class="g-recaptcha">
                    </ngx-recaptcha2>
                    <div *ngIf="submitted && formFields.recaptcha.errors" class="form-valid-error">
                      <div *ngIf="formFields.recaptcha.errors.required">Please confirm you are not a robot!</div>
                    </div>  
                  </div>
                  <div class="text-center">
                    <button class="form-button">Create My Account</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-login-footer></app-login-footer>