<div class="wrapper">
  <app-side-panel></app-side-panel>
  <div class="frm-wrapper register">
    <section class="frm-block">
      <div class="container">
        <app-login-logo></app-login-logo>
        <div class="row">
          <div class="col-sm-12">
            <div class="frm-outer">
              <ul class="frm-tabs">
                <li><a routerLink="/login">{{ 'common.lblLogin' | translate }}</a></li>
                <li><a href="javascript:;" class="active">{{ 'common.lblRegister' | translate }}</a></li>
              </ul>
              <div class="frm-body signin-wd">
                  <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit();">
                  <div *ngIf="dataService.registerError" class="auth-error">
                    <p>{{dataService.registerError}}</p>
                  </div>  
                  <div class="login-signup-heading">Register Separately for TestNet and TokenSale</div>                
                  <div class="form-group input-ico email">
                    <label for="emailAddress" class="form-label">{{ 'login.lblEmail' | translate }}</label>
                    <input
                    formControlName="email" 
                    type="email" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.email.errors}"
                    maxlength="50" 
                    >
					          <div *ngIf="submitted && formFields.email.errors" class="form-valid-error">
                        <div *ngIf="formFields.email.errors.email" class="error-msg">
                            {{ 'registerValidate.valRegEmailErr' | translate }}
                        </div>
                        <div *ngIf="formFields.email.errors.required" class="error-msg">
                            {{ 'registerValidate.valEmailRequired' | translate }}
                        </div>
                    </div>
                  </div>
                  <div class="form-group input-ico pwd">
                    <label for="password" class="form-label">{{ 'login.lblPassword' | translate }}</label>
                    <input
                    formControlName="password" 
                    type="password" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.password.errors}"
                    placeholder="8-20 alpha numeric characters"
                    maxlength="20"
                    minlength="8" 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                    >
					          <div *ngIf="submitted && formFields.password.errors" class="form-valid-error">
                      <div *ngIf="formFields.password.errors.required" class="error-msg">
                        {{ 'registerValidate.valRegPassRequired' | translate }}
                      </div>
                      <div *ngIf="formFields.password.errors.minlength" class="error-msg">
                          {{ 'loginValidate.valPassMin' | translate:{'length': formFields.password.errors.minlength.requiredLength} }}
                      </div>
                      <div *ngIf="formFields.password.errors.pattern && !formFields.password.errors.minlength" class="error-msg">
                          {{ 'registerValidate.valRegPassChar' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-ico pwd">
                    <label for="password" class="form-label">{{ 'register.lblConfirmPassword' | translate }}</label>
                    <input
                    formControlName="confirmPassword" 
                    type="password" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.confirmPassword.errors}"
                    placeholder="8-20 alpha numeric characters"
                    maxlength="20"
                    minlength="8" 
                    >
					          <div *ngIf="submitted && formFields.confirmPassword.errors" class="form-valid-error">
                      <div *ngIf="formFields.confirmPassword.errors.required" class="error-msg">
                          {{ 'registerValidate.valRegConPassRequired' | translate }}
                      </div>
                      <div *ngIf="formFields.confirmPassword.errors.mustMatch" class="error-msg">
                          {{ 'registerValidate.valRegPassMatchErr' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-ico globe">
                    <label for="countrySelector" class="form-label">{{ 'register.lblCountry' | translate }}</label>
					          <div class="select-wrap">
                      <select 
                      formControlName="country"
                      name="country" 
                      class="form-input"
                      [ngClass]="{'is-invalid': submitted && formFields.country.errors}" 
                      >
                        <option value="" selected="">{{ 'register.lblClickToChoose' | translate }}</option>
                        <option *ngFor="let country of dataService.countryList" value="{{country.country_id}}">{{ country.name }}</option>
                      </select>
                      <div *ngIf="submitted && formFields.country.errors" class="form-valid-error">
                          <div *ngIf="formFields.country.errors.required" class="error-msg">
                            {{ 'registerValidate.valRegCountry' | translate}}
                          </div>
                        </div>
                    </div>
				          </div>
                  <div class="form-group input-ico user">
                    <label for="username" class="form-label">{{ 'register.lblFirstName' | translate }} <span>({{ 'register.lblOptional' | translate }})</span></label>
                    <input
                    formControlName="firstName" 
                    type="text" 
                    class="form-input"
                    [ngClass]="{'is-invalid': submitted && formFields.firstName.errors}"
                    maxlength="30" 
                    >
					        </div>
                  <div class="form-group input-ico user">
                      <label for="username" class="form-label">{{ 'register.lblLastName' | translate }} <span>({{ 'register.lblOptional' | translate }})</span></label>
                      <input
                      formControlName="lastName" 
                      type="text" 
                      class="form-input"
                      [ngClass]="{'is-invalid': submitted && formFields.lastName.errors}"
                      maxlength="30" 
                      >
                    </div>
                  <div class="form-group">
                    <div class="terms-wrapper">
                      <div data-style="check" class="cust-control">
                        <input 
                        type="checkbox" 
                        formControlName="terms" 
                        id="checkbox1.1">
                        <label for="checkbox1.1"><i></i></label>
                      </div>
                      <div class="label-control">{{ 'register.lblTerms' | translate }} <a target="_blank" routerLink="/page/terms">{{ 'register.lblTermsOfService' | translate }}</a></div>
                      <div *ngIf="submitted && formFields.terms.errors" class="form-valid-error">
                          <div *ngIf="formFields.terms.errors.required" class="error-msg">
                              {{ 'registerValidate.valRegTerms' | translate}}
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row ng-captcha-container" >
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      (load)="handleLoad()"
                      (success)="handleSuccess($event)"
                      formControlName="recaptcha"
                      class="g-recaptcha">
                    </ngx-recaptcha2>
                    <div *ngIf="submitted && formFields.recaptcha.errors" class="form-valid-error">
                      <div *ngIf="formFields.recaptcha.errors.required">{{ 'loginValidate.valRobot' | translate }}</div>
                    </div>  
                  </div>
                  <div class="text-center">
                    <button class="form-button create-account">{{ 'register.btnRegister' | translate }}</button>
                  </div>
                  <div class="text-center m-t-15"><a href="https://testnet.idap.io/trade" class="green-btn">View Exchange</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="disclaimer-wrapper"><p>Access to the IDAP Testnet is not meant for any trading purposes. It is solely for the purpose of simulated trading. No actual trades are executed on the Testnet. No deposits and consequently no withdrawals are a part of the simulated trading on the Testnet. It is not intended as investment advice or as a solicitation to engage in any form of trading activity and should not he construed as such.</p>
            </div>
          </div>
      </div>
      </div>
    </section>
  </div>
</div>
<app-login-footer></app-login-footer>