<app-country-notice></app-country-notice>
<header>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-logo-container">
      <a>
        <img alt="alpha5" src="assets/images/icons/alpha5-header-logo.png" />
      </a>
    </div>
    <div class="nav-container align-items-center">
      <ul class="d-flex">
        <li class="exchange-btn btn btn-outline">
          <a href="/trade">
            Exchange
          </a>
        </li>
        <!-- <li routerLink="/" class="home">
          <img src="assets/images/home-icon.png" alt="" />
        </li> -->
        <li>About</li>
        <li class="login-btn-header">
          <a routerLink="/login" class="btn">Login</a>
        </li>
        <!-- <li class="register-btn-header">
          <a class="btn">
            Register
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</header>
