 
   
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title">
                <h1>Balances</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Account</li>
                  <li class="breadcrumb-item">Wallet</li>
                  <li class="breadcrumb-item active">Balances</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="widget green">
                <h2>0.0000 BTC</h2>
                <h6 class="green-txt">Wallet Balance</h6>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="widget blue">
                <h2>0.0000 BTC</h2>
                <h6 class="blue-txt">Margin Balance</h6>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="widget purple">
                <h2>0.0000 BTC</h2>
                <h6 class="purple-txt">Available Balance</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="widget balances">
                <div class="row">
                  <div class="col-sm-5 col-md-4">
                    <div class="widget-row">
                      <div class="widget-col-left">Wallet Balance</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col-left">Unrealised PNL</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col-left">Margin Balance</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col-left">Position Margin</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col-left">Order Margin</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col-left">Available Balance</div>
                      <div class="widget-col-right">0.0000 BTC</div>
                    </div>
                    <div class="widget-row">
                      <div class="widget-col"><strong>0% Margin Used 0x Leverage</strong></div>
                    </div>
                  </div>
                  <div class="col-sm-7 col-md-8">
                    <div class="tooltip-info">
                      <ul>
                        <li><strong>Wallet Balance:</strong> <span>Wallet Balance = (Deposits - Withdrawls + Relaised PNL)</span></li>
                        <li><strong>Unrealised PNL:</strong> <span>Current profit and loss from all open positions</span></li>
                        <li><strong>Margin Balance:</strong> <span>Your total equity held with the exchange.<br>
                        Margin Balance = (Wallet Balance + Unrealised PNL)</span></li>
                        <li><strong>Position Margin:</strong> <span>The minimum equity you must retain with the exchange to keep your positions. This is the entry value of all contracts you hold divided by the selected leverage, plus unrealised profit and loss.</span></li>
                        <li><strong>Order Margin:</strong> <span>The minimum equity you must retain with the exchange to keep your open orders. This is the value of all open orders you have divided by the selected leverage.</span></li>
                        <li><strong>Available Balance:</strong> <span>Your margin available for new positions.<br>
                        Available Balance = (Margin Balance - Order Margin - Position Margin).</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="widget">
                <div class="widget-header">
                  <h4>Transaction History</h4>
                </div>
                <p>This table contains all historical wallet transactions.</p>
                <div class=" table-responsive">
                  <table class="table table-hover table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Date and Time</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Fee</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th class="text-right">Wallet Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td>2018-09-07 09:15:25 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">0.0000 BTC</td>
                      </tr>
                      <tr role="row" class="even">
                        <td>2018-09-07 09:15:25 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">0.0000 BTC</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td>2018-09-07 09:15:25 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">0.0000 BTC</td>
                      </tr>
                      <tr role="row" class="even">
                        <td>2018-09-07 09:15:25 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">0.0000 BTC</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
     