<div class="wrapper">
  <app-side-panel></app-side-panel>
  <div class="frm-wrapper">
    <section class="frm-block">
      <div class="container">
        <app-login-logo></app-login-logo>
        <div class="row">
          <div class="col-sm-12">
            <div class="frm-outer">
              <div class="frm-body">
                <h4>Forgot Password</h4>
                <div class="reset-2fa">If you have lost your 2FA token, please
                  <a href="mailto:support@idap.exchange">email us</a> with the subject "Lost 2FA Device".
                  <br>
                  <br>IDAP Exchange support will then email you an ID verification link.</div>
                <form [formGroup]="forgotFormGroup" (ngSubmit)="sendRequest();">
                  <p>Don’t worry! Just fill in your email id below and you will receive a reset password link in your inbox.</p>
                  <div class="form-group input-ico email" *ngIf="!forgotRequestSuccessMsg">
                    <label for="emailAddress" class="form-label">Email</label>
                    <input formControlName="email" type="email" class="form-input" placeholder="Enter your username or email" [ngClass]="{'is-invalid': submitted && formFields.email.errors || serverError}"
                      maxlength="50">
                    <div *ngIf="submitted && formFields.email.errors" class="form-valid-error">
                      <div *ngIf="formFields.email.errors.email" class="error-msg">
                        Please enter valid email address!
                      </div>
                      <div *ngIf="formFields.email.errors.required" class="error-msg">
                        Email is required!
                      </div>
                    </div>
                    <div *ngIf="serverError && !formFields.email.errors" class="form-valid-error">
                      <div class="error-msg">{{serverError}}</div>
                    </div>
                  </div>
                  <div class="text-center m-t-35" *ngIf="!forgotRequestSuccessMsg">
                    <button class="form-button reset-link-btn" type="submit">Request Reset Link</button>
                  </div>
                  <div *ngIf="forgotRequestSuccessMsg" class="msg-success">{{forgotRequestSuccessMsg}}</div>

                  <div class="frm-footer">
                    <div class="forgot">Back to
                      <a routerLink="/login">Log In</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="disclaimer-wrapper">
          <p>Access to the IDAP Testnet is not meant for any trading purposes. It is solely for the purpose of simulated trading.
            No actual trades are executed on the Testnet. No deposits and consequently no withdrawals are a part of the simulated
            trading on the Testnet. It is not intended as investment advice or as a solicitation to engage in any form of
            trading activity and should not he construed as such.</p>
        </div>
      </div>
    </section>
  </div>
</div>
<app-login-footer></app-login-footer>