<header class="header loggedin">
    <div class="hamburger d-md-none d-lg-none"><a href="javascript:;"> <span></span> </a></div>
    <div class="logo">
    <a class="navbar-brand" href="javascript:;">
        <img src="assets/img/idap-io-logo.svg" alt="IDAP Exchange" class="logo-sticky hidden-xs">
      <!--img src="assets/img/logo-idap-io.svg" alt="IDAP Exchange" class="logo-default">
     <img src="assets/img/idap-symbol.png" alt="IDAP Exchange" class="logo-mobile visible-xs"-->
    </a>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="javascript:;">Trade</a></li>
        <li class="active"><a href="javascript:;">Account</a></li>
        <li><a href="javascript:;">Documentation</a></li>
      </ul>
    </div>
    <div class="header-right">
      <div class="user-login loggedin"> <a href="javascript:;"></a>
        <div class="user-dropdown">
          <div class="guest">
            <ul>
              <li><a href="login.html" class="btn-purple">Login</a></li>
              <li><a href="register.html" class="btn-blue">Register</a></li>
            </ul>
          </div>
          <div class="user-nav-wrapper">
            <div class="user-email">johndoe@gmail.com</div>
            <div class="user-balance">
              <ul>
                <li><span>TOTAL</span><strong>0.0000 BTC</strong></li>
                <li><span>AVAILABLE</span><strong>0.0000 BTC</strong></li>
              </ul>
            </div>
            <div class="color-theme"> <span>Color Theme</span>
              <ul>
                <li class="light"><a href="javascript:;">Light</a></li>
                <li class="dark"><a href="javascript:;">Dark</a></li>
              </ul>
            </div>
            <div class="user-nav">
              <ul>
                <li><a href="my-profile.html"><span><i class="fas fa-user"></i></span>My Profile</a></li>
                <li><a href="security.html"><span><i class="fas fa-lock"></i></span>Security</a></li>
                <li><a href="settings.html"><span><i class="fas fa-cog"></i></span>Settings</a></li>
                <li><a href="javascript:;"><span><i class="fas fa-sign-out-alt"></i></span>Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="translator"> <a href="javascript:;"></a>
        <div class="translator-dropdown">
          <h3>Website Translator</h3>
          <div class=""><img src="assets/img/lang.png" alt=""></div>
            <p>Translations by Google is provided for convenience and is not verified contextually. Please refer to original for accuracy.</p>
          </div>
        </div>
      </div>
  </header>