<header class="header" [ngClass]="{loggedin: authService.isLogged}"  id="header" [ngClass]="{ 'aside-open': hamburgerMenuStatus}">
    <div class="hamburger d-lg-none" (click)="hamburger();"><a href="javascript:;"> <span></span> </a></div>
    <div class="logo">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/img/idap-io-logo.svg" alt="IDAP Exchange" class="logo-sticky d-none d-md-block">
      <!--img src="assets/img/logo-idap-io.svg" alt="IDAP Exchange" class="logo-default"-->
     <img src="assets/img/idap-symbol.png" alt="IDAP Exchange" class="logo-mobile d-block d-md-none">
    </a>
    </div>
    <div class="navbar" *ngIf="authService.isLogged">
      <ul>
        <li><a href="javascript:;">{{ 'dashboardHeader.lblTrade' | translate }}</a></li>
        <li routerLinkActive="active"><a  routerLink="/dashboard/account" >{{ 'dashboardHeader.lblAccount' | translate }}</a></li>
        <li routerLinkActive="active"><a routerLink="/dashboard/download">{{ 'dashboardHeader.lblDownload' | translate }}</a></li>
      </ul>
    </div>
    <div class="header-right">
      <div class="user-login" [ngClass]="{loggedin: authService.isLogged}"> <a href="javascript:;"></a>
        <div class="user-dropdown">
          <div class="guest">
            <ul>
              <li><a routerLink="/login" class="btn-login">Login</a></li>
              <li><a routerLink="/register" class="btn-register">Register</a></li>
            </ul>
          </div>
          <div class="user-nav-wrapper" *ngIf="authService.isLogged">
            <div class="user-email">{{ userName }}</div>
            <div class="user-nav">
              <ul>
                <li (click)="dataService.logout();"><a href="javascript:;"><span><i class="fas fa-sign-out-alt"></i></span>Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="translator"> <a href="javascript:;"></a>
        <div class="translator-dropdown">
          <h3>Website Translator</h3>
          <div class=""><img src="assets/img/lang.png" alt=""></div>
            <p>Translations by Google is provided for convenience and is not verified contextually. Please refer to original for accuracy.</p>
          </div>
        </div>
      </div>
  </header>