header {
  padding: 0;
  background-color: black;
}

.logo-img {
  width: 15%;
}

.user-dropdown.d-block {
  position: fixed;
  right: 0;
  top: 60px;
  background-color: white;
}

.profile-icon {
  margin: 16px;
  font-size: 24px;
  color: wheat;
  cursor: pointer;
}

.header-buttons .options {
  margin: 2px 50px;
}

.header-buttons .options li {
  padding: 15px;
  font-weight: 600;
}

.header-buttons .options li a {
  color: #f8af3d;
}

.menu-button {
  padding: 0 10px;
}
