<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>{{ "langDashboardHeader.lblAccount" | translate }}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            {{ "langDashboardLeftMenu.lblAccPref" | translate }}
          </li>
          <li class="breadcrumb-item active">
            {{ "langDashboardLeftMenu.lblMyProfile" | translate }}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="widget myprofile">
        <div class="widget-header">
          <h4>{{ "langDashboardLeftMenu.lblMyProfile" | translate }}</h4>
        </div>
        <div class="widget-row">
          <div class="widget-col-left">
            {{ "langMyProfilePage.lblMyProfileEmail" | translate }}:
          </div>
          <div class="widget-col-right">{{ userInfo.email }}</div>
        </div>
        <div class="widget-row">
          <div class="widget-col-left">
            {{ "langMyProfilePage.lblMyProfileName" | translate }}:
          </div>
          <div class="widget-col-right">
            {{ userInfo.first_name }} {{ userInfo.last_name }}
          </div>
        </div>
        <!-- <div class="widget-row">
            <div class="widget-col-left">{{ 'langMyProfilePage.lblMyProfileDesktopId' | translate }}:</div>
            <div class="widget-col-right">{{ userInfo.username }}</div>
        </div> -->
        <div class="widget-row">
          <div class="widget-col-left">
            {{ "langMyProfilePage.lblMyProfileExchangeAccountId" | translate }}:
          </div>
          <div class="widget-col-right">{{ userInfo.exchange_account_id }}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-activity-log></app-activity-log>
    </div>
  </div>
</div>
