<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>Account</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Account & Preferences</li>
          <li class="breadcrumb-item active">My Profile</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="widget myprofile">
        <div class="widget-header">
          <h4>My Profile</h4>
        </div>
        <div class="widget-row">
          <div class="widget-col-left">Email:</div>
          <div class="widget-col-right">{{ userInfo.email }}</div>
        </div>
        <div class="widget-row">
          <div class="widget-col-left">Name:</div>
          <div class="widget-col-right">{{ userInfo.first_name }} {{ userInfo.last_name}}</div>
        </div>
        <div class="widget-row">
            <div class="widget-col-left">Desktop User ID:</div>
            <div class="widget-col-right">{{ userInfo.username }}</div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-activity-log></app-activity-log>
    </div>
  </div>
  
</div>