<app-header></app-header>
<div class="wrapper">  
  <div class="frm-wrapper">
    <section class="frm-block">
      <div class="container">
        <div class="row page-not-found">
          <div class="col-sm-12">
            <h3>PAGE NOT FOUND!</h3>              
            <div class="tag-content">
              We couldn't find the page you're looking for.
              <p><a href="https://t.me/BitfexDotCom">Need Help? Visit Bitfex Telegram Group</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>