<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <div class="footer-logo"><img src="assets/img/idap-io-logo-light.svg" alt="IDAP Exchange"></div>
            <div class="copyright">© 2018 IDAP. All Rights Reserved.</div>
            <div class="footerlinks-wrap">
              <div class="footerlinks">
                <h5 class="footer-media-heading2">Contact Us</h5>
                <p><a href="mailto:info@idap.exchange" title="info@idap.exchange">info@idap.exchange</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6 offset-md-1">
            <div class="footer-cols">
              <div class="footer-links">
                <h5>RESOURCES</h5>
                <ul>
                  <li><a href="javascript:;">Leaderboard</a></li>
                  <li><a href="javascript:;">Privacy Policy</a></li>
                  <li><a href="javascript:;">Terms of Use</a></li>
                  <li><a href="javascript:;">Contact</a></li>
                  <li><a href="javascript:;">FAQ</a></li>
                </ul>
              </div>
              <div class="footer-links">
                <h5>COMMUNITY</h5>
                <div class="footer-media">
                  <ul>
                    <li><a href="https://t.me/idap_io" target="_blank" title="Telegram"><i class="fab fa-telegram"></i> Telegram</a></li>
                    <li><a href="https://twitter.com/idap_io" target="_blank" title="Twitter"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.reddit.com/r/idapio/" title="Reddit" target="_blank"><i class="fab fa-reddit"></i> Reddit</a></li>
                    <li><a href="https://www.linkedin.com/company/idap-io/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-links">
                <h5>SOCIAL MEDIA</h5>
                <div class="footer-media">
                  <ul>
                    <li><a href="https://www.facebook.com/idapio.exchange/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/idap.io" title="Instagram" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://medium.com/idap-io" target="_blank" title="Medium"><i class="fab fa-medium-m"></i> Medium</a></li>
                    <li><a href="https://www.youtube.com/c/idapio" target="_blank" title="YouTube"><i class="fab fa-youtube"></i> Youtube</a></li>
                    <li><a href="https://steemit.com/@idapio/" class="steemit" target="_blank" title="Steemit">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill:rgba(255,255,255,1)" x="0px" y="0px" width="36.984px" height="37.686px" viewBox="0.104 0.002 36.984 37.686" enable-background="new 0.104 0.002 36.984 37.686" xml:space="preserve">
                    <path d="M32.701,11.381c-1.57-1.569-3.396-2.718-5.339-3.458c1.132-3.33,5.146-4.542,5.146-4.542S23.143-1.48,12.8,0.459
                C9.352,1.008,6.046,3.126,3.628,5.92c-5.249,6.061-4.554,15.184,1.556,20.389c0.939,0.804,3.036,2.054,3.075,2.117
                c-1.376,3.496-5.776,4.453-5.776,4.453s5.814,3.637,13.623,4.58c2.071,0.256,4.271,0.319,6.548,0.077
                c3.615-0.294,7.217-2.208,9.957-4.899C38.541,26.793,38.592,17.275,32.701,11.381z M30.025,30.314
                c-2.213,2.169-5.519,3.547-8.066,3.738c-1.801,0.179-3.73,0.204-5.583-0.025c-2.727-0.332-4.695-1.084-6.625-1.812
                c0.978-0.944,1.955-2.245,2.354-3.368c0.257-0.664,0.231-1.404-0.077-2.055c-2.071-4.262-1.17-9.365,2.238-12.682
                c2.47-2.412,5.866-3.547,9.314-3.126c2.534,0.306,4.837,1.416,6.638,3.215C34.591,18.589,34.437,26.015,30.025,30.314z"></path>
                  </svg>
                  Steemit</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>