<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <div class="footer-logo"><img src="assets/img/idap-io-logo-light.svg" alt="IDAP Exchange"></div>
            <div class="copyright">© 2019 IDAP. {{ 'langCommonFooter.lblAllRightReserved' | translate }}</div>
            <div class="footerlinks-wrap">
              <div class="footerlinks">
                <h5 class="footer-media-heading2">{{ 'langCommonFooter.lblContactUs' | translate }}</h5>
                <p><a href="mailto:support@idap.io" title="support@idap.io">support@idap.io</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6 offset-md-1">
            <div class="footer-cols">
              <div class="footer-links">
                <h5>{{ 'langCommonFooter.lblResources' | translate }}</h5>
                <ul>
                  <!--li><a href="javascript:;">Leaderboard</a></li-->
                  <li><a routerLink="/page/privacy-policy" >{{ 'langCommonFooter.lblPrivacyPolicy' | translate }}</a></li>
                  <li><a routerLink="/page/terms">{{ 'langCommonFooter.lblTermsOfUse' | translate }}</a></li>
                  <li><a href="mailto:info@idap.io">{{ 'langCommonFooter.lblContact' | translate }}</a></li>
                  <li><a href="javascript:;">{{ 'langCommonFooter.lblFaq' | translate }}</a></li>
                </ul>
              </div>
              <div class="footer-links">
                <h5>{{ 'langCommonFooter.lblCommunity' | translate }}</h5>
                <div class="footer-media">
                  <ul>
                    <li><a href="https://t.me/idap_io" target="_blank" title="Telegram"><i class="fab fa-telegram"></i> Telegram</a></li>
                    <li><a href="https://twitter.com/idap_io" target="_blank" title="Twitter"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.reddit.com/r/idapio/" title="Reddit" target="_blank"><i class="fab fa-reddit"></i> Reddit</a></li>
                    <li><a href="https://www.linkedin.com/company/idap-io/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-links">
                <h5>{{ 'langCommonFooter.lblSocialMedia' | translate }}</h5>
                <div class="footer-media">
                  <ul>
                    <li><a href="https://www.facebook.com/idapio.exchange/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/idap.io" title="Instagram" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://medium.com/idap-io" target="_blank" title="Medium"><i class="fab fa-medium-m"></i> Medium</a></li>
                    <li><a href="https://www.youtube.com/c/idapio" target="_blank" title="YouTube"><i class="fab fa-youtube"></i> Youtube</a></li>
                    <li><a href="https://steemit.com/@idapio/" class="steemit" target="_blank" title="Steemit"><img src="assets/img/idap-steemit.svg" alt="">Steemit</a>
                  
                </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>