<div class="wrapper">
  <app-side-panel></app-side-panel>
  <div class="frm-wrapper">
    <section class="frm-block">
      <div class="container">
        <app-login-logo></app-login-logo>
        <div class="row">
          <div class="col-sm-12">
            <div class="frm-outer">
              <ul class="frm-tabs">
                <li><a href="javascript:;" class="active">{{ 'langCommon.lblLogin' | translate }}</a></li>
                <li><a routerLink="/register">{{ 'langCommon.lblRegister' | translate }}</a></li>
              </ul>
              <div class="frm-body">
                <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit();">
                  <div *ngIf="error" class="auth-error">
                    <p>{{error}}</p>
                  </div>
                  <div class="login-signup-heading">Register Separately for TestNet and TokenSale</div>
                  <div class="form-group input-ico email">
                    <label for="emailAddress" class="form-label">{{ 'langLogin.lblEmail' | translate }}</label>
                    <input 
                    class="form-input"
                    formControlName="email"
                    type="text"
                    [ngClass]="{'is-invalid': submitted && formFields.email.errors}"
                    maxlength="50"
                    >
                    <!--div *ngIf="submitted && formFields.cardHolderName.errors" class="invalid-feedback">
                                    <div *ngIf="formFields.cardHolderName.errors.required" class="error-msg">Cardholder name is required!</div>
                            </div-->
                    <div *ngIf="submitted && formFields.email.errors" class="form-valid-error">
                      <div *ngIf="formFields.email.errors.email" class="error-msg">
                          {{ 'langLoginValidate.valUserEmail' | translate }}
                      </div>
                      <div *ngIf="formFields.email.errors.required" class="error-msg">
                          {{ 'langLoginValidate.valUserRequired' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-ico pwd">
                    <label for="password" class="form-label">{{ 'langLogin.lblPassword' | translate }}</label>
                    <input
                    class="form-input"
                    formControlName="password"
                    type="password"
                    [ngClass]="{'is-invalid': submitted && formFields.password.errors}"
                    maxlength="20"
                    >
                    <div *ngIf="submitted && formFields.password.errors" class="form-valid-error">
                      <div *ngIf="formFields.password.errors.required">{{ 'langLoginValidate.valPassRequired' | translate }}</div>
                      <div *ngIf="formFields.password.errors.minlength">{{ 'langLoginValidate.valPassMin' | translate:{'length': formFields.password.errors.minlength.requiredLength} }}</div>
                    </div>
                  </div>
                  <div class="form-group input-ico ga">
                    <label class="form-label">{{ 'langLogin.lblTwoFactorCode' | translate }}</label>
                    <input 
                    type="text" 
                    formControlName="factorCode" 
                    class="form-input" 
                    placeholder="{{'langLogin.lblGoogleAuthPh' | translate}}" 
                    maxlength="6"
                    >
                  </div>
                  <div class="form-group row ng-captcha-container" >
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      (load)="handleLoad()"
                      (success)="handleSuccess($event)"
                      formControlName="recaptcha"
                      class="g-recaptcha">
                    </ngx-recaptcha2>
                    <div *ngIf="submitted && formFields.recaptcha.errors" class="form-valid-error">
                      <div *ngIf="formFields.recaptcha.errors.required">{{ 'langLoginValidate.valRobot' | translate }}</div>
                    </div>  
                  </div>
                  <div class="text-center">
                    <button class="form-button login-btn" type="submit">{{ 'langCommon.lblLogin' | translate }}</button>
                  </div>
                  <div class="text-center m-t-15"><a href="/trade/" class="green-btn">View Exchange</a></div>
                  <div class="frm-footer">
                    <div class="sign"><a routerLink="/forgot">{{ 'langLogin.lblForgotTwoFDevice' | translate}}</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      <div class="row">
        <div class="col-sm-12">
          <div class="disclaimer-wrapper"><p>Access to the IDAP Testnet is not meant for any trading purposes. It is solely for the purpose of simulated trading. No actual trades are executed on the Testnet. No deposits and consequently no withdrawals are a part of the simulated trading on the Testnet. It is not intended as investment advice or as a solicitation to engage in any form of trading activity and should not he construed as such.</p>
          </div>
		    </div>
    </div>
      </div>
    </section>
  </div>
</div>
<app-login-footer></app-login-footer>
