<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>{{ 'langAffiliatePage.lblAffiliage' | translate }}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{ 'langDashboardLeftMenu.lblAccPref' | translate }}</li>
          <li class="breadcrumb-item active">{{ 'langAffiliatePage.lblAffiliage' | translate }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-header">
          <h4>{{ 'langAffiliatePage.lblSharedReferalLink' | translate }}</h4>
        </div>
        <div class="form-group input-ico refer">
          <label for="refer">{{ 'langAffiliatePage.lblCopyYourPersonalRef' | translate }}</label>
          <input #refererText id="refer" class="form-input referral-link" type="text" value="{{ affliliateLink }}" placeholder=""
            readonly="true">
        </div>
        <div class="form-group">
          <button class="form-button form-button-sm copy-referral-link" data-clipboard-target="#refer" (click)="copyRefererLink(refererText)">{{ 'langAffiliatePage.lblCopyRefLink' | translate }}</button>
          <div class="referral-link-copied" *ngIf="copiedMsg"><i class="far fa-check-circle"></i>{{ 'langAffiliatePage.lblRefLinkCopyClip' | translate }}</div>
        </div> 
        <div class="form-group">
          <div>{{ 'langAffiliatePage.lblTotalReferrals' | translate }}: <span class="">{{ totalReferrals }}</span></div>
        </div>               
      </div>
    </div>
  </div>
</div>