<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>{{ 'langDashboardLeftMenu.lblSecurity' | translate }}</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{ 'langDashboardLeftMenu.lblAccPref' | translate }}</li>
          <li class="breadcrumb-item active">{{ 'langDashboardLeftMenu.lblSecurity' | translate }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-change-password></app-change-password>
    </div>
    <div class="col-md-6">
      <app-google-auth></app-google-auth>
    </div>
  </div>
</div>