<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h1>Security</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Account & Preferences</li>
          <li class="breadcrumb-item active">Security</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-change-password></app-change-password>
    </div>
    <div class="col-sm-6">
      <app-google-auth></app-google-auth>
    </div>
  </div>
</div>