<app-header></app-header>
<!-- Banner Start-->
<section class="main-banner">
	<div class="banner-content d-flex">
		<div class="banner-left">
			<h1>
                <span> BFX - Bitfex Exchange Token</span>
			</h1>
			<p>An ERC-20 utility token powering the Bitfex Ecosystem</p>
			<div class="view-exchange-btn"> <a href="https://etherscan.io/token/0xdb096cc19b8227e2115855c5b39dcc247470013c" target="_blank">View on Etherscan</a></div>
		</div>
		<div class="banner-right">
                <div class="coinmarketcap-currency-widget" data-currencyid="4785" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
 	        <div class="banner-row-3">
		      <h3>Buy, Sell and Trade BFX on </h3><br>
		          <p></p>
               <div class="banner-tagline">	
                    <div class="view-exchange-btn"> <a href="https://vindax.com/exchange-base.html?symbol=BFX_BTC" target="_blank">VinDAX</a> <a href="https://www.probit.com/app/exchange/BFX-BTC" target="_blank">ProBit</a></div>                    
				      </div>
	       </div>
	       </div>
		</div>
	
</section>

<!-- About BFX -->
<section class="about-BFX-section" id="about-BFX">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>BFX Utility & Benefits</h3>
				<div class="tag-content">
					Integral to the exchange, the BFX demand is fuelled by the various utilities it provides to its holders and its diminishing circulating supply.
				</div>
				<div class="row BFX-benefits">
					<div class="col-sm-12">
						<ul class="d-flex flex-wrap">
							<li><strong>For Retail Traders:</strong> HODL a minimum number of BFX and get rewarded with Zero-Fee Trading</li>
							<li><strong>For Institutional Clients:</strong> HODL BFX and get rewarded with Free Master Account</li>
							<li><strong>Disinflationary token supply:</strong> BFX equivalent to 20% of revenue will be burnt till supply reaches 500 mn BFX</li>
							<li>HODL BFX and get early access to various exchange events, referral programs and more</li>
							<li>USE BFX to pay trading fees and get 50% discount</li>
							<li>Stake BFX on Bitfex exchange to unlock exclusive benefits and rewards</li>
							
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
    
        
<!-- Track BFX -->
<section class="crypto-derivatives-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Track BFX</h3>
                <p></p>
                	<div class="buy-BFX-CTA text-center">
						<a href="https://www.coingecko.com/en/coins/bitfex/" target="_blank"><img src="../../assets/img/CoinGecko.png" width="200" alt="CoinGecko" border="0" /></a>
                        <a href="https://coinmarketcap.com/currencies/bitfex/" target="_blank"><img src="../../assets/img/coinmarketcap.png" width="200" alt="CMC" border="0" /></a>
                        <!--<a href="https://cryptorank.io/currencies/bitfex/price-chart" target="_blank" class="buy-bfx-btn">Crypto Rank</a>-->
						</div>
			</div>
            
		</div>
	</div>
</section>

<!-- Token Burning -->
<section class="live-trading-steps-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Burning of BFX</h3>
				<div class="tag-content">
					BFX is disinflationary, i.e. its total supply will decrease over time.<br> As per the tokenomics, BFX supply will decrease from 1 billion until it reaches 500 million.<br> This will be achieved by burning BFX equivalent to 20% of revenue collected at regular intervals.
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
