<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="auth">
        <div class="auth-icon auth-google">
          <img src="assets/img/google-authenticator.svg" alt="">
        </div>
        <div class="auth-option">
          <h4>{{ 'googleAuth.lblGAuth'| translate }}</h4>
        </div>
        <button type="button" class="form-button form-button-sm" (click)="formActive=true;">{{ btnLblText }}</button>
      </div>
      <form [formGroup]="googleAuthFormGroup" (ngSubmit)="onSubmit()" *ngIf="formActive">
          <div *ngIf="error" class="auth-error">
            <p>{{error}}</p>
          </div>
          <div *ngIf="successMsg" class="msg-success">
            <p>{{ successMsg }}</p>
          </div>

          <div class="form-group" *ngIf="btnLblText == 'Enable'">
            <label for="OldPassword">{{ 'googleAuth.lblSecret'| translate }}</label>
            <div>{{secret}}</div>
          </div>
          <div class="form-group" *ngIf="btnLblText == 'Enable'">
            <label for="NewPassword">{{ 'googleAuth.lblScan'| translate }}</label>
            <div><img src="{{ gQrCode }}"></div>
            
          </div>
          <div class="form-group input-ico pwd">
            <label for="ConfirmPassword">{{ 'googleAuth.lbl2FCode' | translate }}</label>
            <input 
            formControlName="twoFactorCode" 
            type="password" 
            class="form-input" 
            [ngClass]="{'is-invalid': submitted && formFields.twoFactorCode.errors}"
            maxlength="6"
            minlength="6">
            <div *ngIf="submitted && formFields.twoFactorCode.errors" class="form-valid-error">
              <div *ngIf="formFields.twoFactorCode.errors.required" class="error-msg">
                {{ 'googleAuthVal.val2FCode' | translate }}
              </div>
              <div *ngIf="formFields.twoFactorCode.errors.minlength" class="error-msg">
                {{ 'googleAuthVal.valLength' | translate }}
              </div>
            </div>
          </div>
          <button type="submit" class="form-button form-button-sm">{{ 'common.lblSubmit' | translate }}</button>
        </form>
    </div>
  </div>
</div>