<app-header></app-header>
<!-- Banner Start-->
<section class="main-banner">
	<div class="banner-content d-flex">
		<div class="banner-left">
			<h1>
				<span>The <span class="strong">First</span> Complete</span>
				<strong>Crypto Derivatives Exchange</strong>
			</h1>
			<p>Trade Perpetual, Futures and Exchange-quoted Spreads</p>
			<div class="view-exchange-btn"> <a href="https://www.bitfex.com/trade" target="_blank">View Exchange</a></div>
		</div>
		<div class="banner-right">
			
			<div class="banner-rightcol-bottom">												
			<h3>Trading Competition<br>
                <small>for BFX/BTC pair</small></h3>
                <p>A total of <b>166,663 BFX</b> will be distributed to the <b>Top 10 users</b>.</p>
				
                <div class="banner-tagline">	
					<div class="signup-btn"><a href="https://www.probit.com/en-us/competition/210909bfx" target="_blank">Participate Now</a></div>				  		 
				</div> 
			</div>
	        <div class="banner-row-3">
		      <h3>Buy, Sell and Trade BFX</h3><br>
		          <p></p>
               <div class="banner-tagline">	
                    <div class="view-exchange-btn"> <a href="https://vindax.com/exchange-base.html?symbol=BFX_BTC" target="_blank">Visit VinDAX</a></div>
                    <div class="view-exchange-btn"> <a href="https://www.probit.com/app/exchange/BFX-BTC" target="_blank">Visit ProBit</a></div>
				</div>
	       </div>
			
		</div>
	</div>
</section>
<!-- Contract Type -->
<section class="contract-type-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Contract Types</h3>
				<div class="tag-content">
				Trade three different types of Bitcoin Contracts with leverage.<br class="d-none d-lg-block">Contracts for more cryptocurrencies launching soon!

				</div>
				
				<div class="contract-type-list d-flex">
					<div class="contract-type-each">
						<div class="contract-type-icon">
							<img src="../../assets/img/Perpetual.svg" alt="Perpetual">
						</div>
						<h4>Perpetual</h4>
						<p>Easy-to-trade, non-expiring crypto derivatives contracts.</p>
					</div>
					<div class="contract-type-each">
						<div class="contract-type-icon">
							<img src="../../assets/img/Futures.svg" alt="Futures">
						</div>
						<h4>Futures</h4>
						<p>Cash-settled derivatives contracts for going long or short of future Bitcoin prices.</p>
					</div>
					<div class="contract-type-each">
						<div class="contract-type-icon">
							<img src="../../assets/img/Quoted-Spreads.svg" alt="Exchange-Quoted Spreads">
						</div>
						<h4>Exchange-Quoted Spreads</h4>
						<p>Low-risk trading instruments to easily trade the price difference of underlying futures and perpetual contracts. Introduced for the first time in crypto.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contract Type -->
<section class="why-bitfex-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Why Bitfex</h3>
				<div class="tag-content">
					Built by veteran traders and supported by a diverse community of <br class="d-none d-lg-block">VCs, Traders and Investors from both traditional and crypto space.

				</div>
				
				<div class="why-bitfex-features d-flex flex-wrap">
					<div class="why-bitfex-feature d-flex">
						<div class="why-bitfex-feature-icon">
							<img src="../../assets/img/Unique-Trading.svg" alt="Unique Trading Products">
						</div>
						<div class="why-bitfex-feature-content">
							<h4>Unique Trading Products</h4>
							<p>First to launch Exchange Quoted Spreads which dramatically reduce execution risk in volatile markets.</p>
						</div>
					</div>
					<div class="why-bitfex-feature d-flex">
						<div class="why-bitfex-feature-icon">
							<img src="../../assets/img/Zero-Trading.svg" alt="Zero-Trading Fees">
						</div>
						<div class="why-bitfex-feature-content">
							<h4>Zero-Trading Fees</h4>
							<p>No trading fees for traders maintaining BFX threshold on the Bitfex exchange.</p>
						</div>
					</div>
					<div class="why-bitfex-feature d-flex">
						<div class="why-bitfex-feature-icon">
							<img src="../../assets/img/Best-Security.svg" alt="Unique Trading Products">
						</div>
						<div class="why-bitfex-feature-content">
							<h4>Maximum Security</h4>
							<p>Funds stored in multi-signature deep cold storage. Insurance Fund from Day 1.</p>
						</div>
					</div>
					<div class="why-bitfex-feature d-flex">
						<div class="why-bitfex-feature-icon">
							<img src="../../assets/img/Intuitive-Interface.svg" alt="Unique Trading Products">
						</div>
						<div class="why-bitfex-feature-content">
							<h4>Intuitive Interface</h4>
							<p>Easy-to-use, highly customisable and trader-friendly platform.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- About BFX -->
<section class="about-BFX-section" id="about-BFX">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>About BFX</h3>
				<div class="tag-content">
					BFX is the ERC-20 utility token powering the Bitfex Ecosystem. Integral to the exchange, the BFX demand is fuelled by the various utilities it provides to its holders and its diminishing circulating supply.
				</div>
				<div class="row BFX-benefits">
					<div class="col-sm-12">
						<h4>BFX Utility & Benefits</h4>
						<ul class="d-flex flex-wrap">
							<li><strong>For Retail Traders:</strong> HODL a minimum number of BFX and get rewarded with Zero-Fee Trading</li>
							<li><strong>For Institutional Clients:</strong> HODL BFX and get rewarded with Free Master Account</li>
							<li><strong>Disinflationary token supply:</strong> BFX equivalent to 20% of revenue will be burnt till supply reaches 500 mn BFX</li>
							<li>HODL BFX and get early access to various exchange events, referral programs and more</li>
							<li>USE BFX to pay trading fees and get 50% discount</li>
							<li>Stake BFX on Bitfex exchange to unlock exclusive benefits and rewards</li>
							
						</ul>
						<div class="buy-BFX-CTA text-center">
						<a href="https://vindax.com/exchange-base.html?symbol=BFX_BTC" target="_blank" class="buy-bfx-btn">BFX / BTC on VinDAX</a>
                        <a href="https://www.probit.com/app/exchange/BFX-BTC" target="_blank" class="buy-bfx-btn">BFX / BTC on ProBit</a>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</section>

<!-- Crypto Derivatives Trading -->
<section class="crypto-derivatives-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Want to learn how to Trade Crypto Derivatives?</h3>
				<p>Try Our Simulated Trading Platform today! It works just like the real one and lets you practice trading Bitcoin Futures.</p>
			<a href="https://testnet.idap.io" target="_blank" class="try-sestnet-btn">Try TestNet</a>
			</div>
			
		</div>
	</div>
</section>

<!-- Crypto Derivatives Trading -->
<section class="live-trading-steps-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Start Live Trading in 3 Easy Steps</h3>
				<ul class="trading-easy-steps d-flex flex-wrap">
					<li>
						<h4>Register</h4>
						<p>Sign-up for your free account in less than a minute</p>
					</li>
					<li>
						<h4>Deposit</h4>
						<p>Fund your account by depositing Bitcoin</p>
					</li>
					<li>
						<h4>Trade</h4>
						<p>Make your first trade</p>
					</li>
				</ul>
				<div class="trading-steps-CTA">
					<a href="javascript:;" class="trading-register-btn">Coming Soon</a>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>
<div class="menu-overlay"></div>