<app-header></app-header>

<!-- Banner Section Start -->
<section class="home-banner-section d-flex align-items-center">
  <div class="banner-container d-flex align-items-start">
    <div class="banner-left">
      <img src="assets/images/app-screen.png" alt="Trulli" style="width:100%" />
    </div>
    <div class="banner-right">
      <h3>Advanced Bitcoin<br />Derivatives Trading</h3>
      <p>
        European Digital Options offer a set-and-forget opportunity to benefit
        from the price of XBT expiring within or beyond pre-determined levels.
      </p>
      <a href="javascript:;" class="register_btn d-inline-flex">
        <span
          class="register_title d-inline-flex align-items-center justify-content-center"
        >
          Register
        </span>
        <span
          class="register_btn-icon d-inline-flex align-items-center justify-content-center"
        >
          <img src="assets/images/right-arrow.svg" />
        </span>
      </a>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Smart Product Suite Start -->
<section class="smart-product-section">
  <div class="container">
    <h3>Smart Product Suite</h3>
    <div class="smart-tab-container">
      <div class="smart-tab-list">
        <ul class="d-flex">
          <li class="selected">
            <a
              href="javascript:;"
              class="d-flex align-items-center justify-content-center"
              >European digitals</a
            >
          </li>
          <li>
            <a
              href="javascript:;"
              class="d-flex align-items-center justify-content-center"
              >perpetual swap</a
            >
          </li>
          <li>
            <a
              href="javascript:;"
              class="d-flex align-items-center justify-content-center"
              >futures</a
            >
          </li>
          <li>
            <a
              href="javascript:;"
              class="d-flex align-items-center justify-content-center"
              >futures swaps</a
            >
          </li>
        </ul>
      </div>
      <div class="smart-tab-boxs">
        <div class="smart-tab-box">
          <div class="european-digitals d-flex">
            <div class="european-digitals-left text-right">
              <p>
                European Digital Options offer a set-and-forget opportunity to
                benefit from the price of XBT expiring within or beyond
                pre-determined levels. Determine your risk, understand your
                profit, and let the market do the rest.
              </p>
              <p><a href="javascript:;">CONTRACTS</a></p>
            </div>
            <div class="european-digitals-right">
              <ul class="d-flex flex-column justify-content-center">
                <li>Super-fast risk engine with implied orderbook logic</li>
                <li>Auto-scaling, serverless architecture</li>
                <li>Sophisticated API, built for traders by traders</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="account-register-section d-flex">
        <div class="register-register-box d-flex align-items-center">
          <h4>Register For an Account <span>It only takes 60 Seconds</span></h4>
          <a href="javascript:;" class="register-btn">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="smart-product-bottom-head">
    <span>Driving change in<br />Derivatives Trading</span>
  </div>
</section>
<!-- Smart Product Suite End -->

<!-- Derivatives Trading Start -->
<section class="derivatives-trading">
  <div class="container">
    <ul class="d-flex flex-wrap">
      <li>
        <div class="derivatives-icon">
          <img
            src="assets/images/risk-icon.svg"
            alt=""
            height="50"
            width="50"
          />
        </div>
        <h3>No Custodial<br />Risk</h3>
        <p>
          All funds are stored at a leading Global Custodian with one of the
          strongest insurance policies in the industry. Even if Alpha5 were
          compromised, your coins are stored away in one of the most bona fide
          places in Digital Assets.
        </p>
        <div class="learn-more-btn"><a href="#">Learn more</a></div>
      </li>
      <li>
        <div class="derivatives-icon">
          <img
            src="assets/images/pipline-icon.svg"
            alt=""
            height="50"
            width="50"
          />
        </div>
        <h3>No Custodial<br />Risk</h3>
        <p>
          Our system is configured for seamless introduction of new products
          that have relevance to serious traders. From bankruptcy auctions to
          credit futures, new products will be continuously rolled out!
        </p>
        <div class="learn-more-btn"><a href="#">Learn more</a></div>
      </li>
      <li>
        <div class="derivatives-icon">
          <img
            src="assets/images/portfolio-icon.svg"
            alt=""
            height="50"
            width="50"
          />
        </div>
        <h3>No Custodial<br />Risk</h3>
        <p>
          Any unrealized pnL is automatically available for use right away. Take
          on additional leverage, without closing out profitable positions.
        </p>
        <div class="learn-more-btn"><a href="#">Learn more</a></div>
      </li>
      <li>
        <div class="derivatives-icon">
          <img src="assets/images/a5t-icon.svg" alt="" height="50" width="50" />
        </div>
        <h3>No Custodial<br />Risk</h3>
        <p>
          A5T facilitates your participation in the Alpha5 ecosystem. The FREE
          A5T credited your account at registration, are automatically staked.
        </p>
        <div class="learn-more-btn"><a href="#">Learn more</a></div>
      </li>
    </ul>
  </div>
  <div class="derivatives-bottom-head">
    <h4>Are you a<br />professional trader?</h4>
    <a href="javascript:;"
      >Learn more about opportunities for<br />sophisticated traders.</a
    >
  </div>
</section>

<!-- Derivatives Trading End -->
<!-- start Trading Now Start -->
<section class="start-trading-secton">
  <div class="container">
    <div class="start-trading-img">
      <img src="assets/images/tab-mobile-img.png" class="start Trading Now" />
    </div>
    <h3>Start Trading Now.</h3>
    <p>It only takes 60 seconds.</p>
    <div class="start-now-btns">
      <a href="javascript:;" class="start-now-register title">Regiter</a>
      <a href="javascript:;" class="start-now-login title">Log in</a>
    </div>
  </div>
</section>
<!-- Start Trading Now End -->

<!-- Start Trading Now Start -->

<section class="api-section">
  <div class="container">
    <ul class="d-flex">
      <li>
        <h3>Api</h3>
        <p>A powerful API designed to handle the hardest of moments.</p>
        <div class="doc-btn"><a href="javascript:;">documentation</a></div>
      </li>
    </ul>
  </div>
</section>

<!-- Start Trading Now End -->

<app-footer></app-footer>
