<app-header></app-header>
<!-- Banner Start-->

<section class="main-banner">
  <div class="main-banner-top-container">
    <img src="assets/images/main-banner-top.png" />
  </div>
  <div class="main-banner-window-container">
    <img src="assets/images/main-banner-window.png" alt="" />
  </div>
  <div class="main-banner-multi-windows-container">
    <img src="assets/images/main-banner-windows.png" alt="" />
  </div>
  <div class="main-banner-msg-container">
    <span class="main-banner-msg">
      Advanced Bitcoin Derivative Trading
    </span>
    <a role="button" style="cursor: pointer;" id="banner-register-button">
      <img src="assets/images/main-banner-register-btn.png" alt="regster-btn" />
    </a>
  </div>
</section>

<div class="d-flex suit-container">
  <section class="smart-product-suit d-flex justify-content-center flex-column">
    <!--top 120px  left : -->

    <div class="product-suit-heading align-self-end">
      <span>Smart Product Suit</span>
    </div>
    <div class="product-list-container d-flex flex-column align-items-center">
      <ul class="d-flex">
        <li class="active">European Digitals</li>
        <li>Perpetual Swaps</li>
        <li>Futures</li>
        <li>Future Swaps</li>
        <li>Credit Futures</li>
      </ul>
      <div class="product-description-container d-flex">
        <div class="description description-left d-flex justify-content-center">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
            officia nesciunt dolor praesentium dolore quas dicta vel ad
            blanditiis tenetur, quis veritatis ex fugiat esse alias facilis
            eligendi, rem error.
          </span>
        </div>
        <div
          class="description description-right d-flex justify-content-center"
        >
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum
            excepturi quidem quae alias necessitatibus rerum accusamus dolorem
            nulla ipsa provident consequatur explicabo sint iusto sunt
            praesentium, molestiae autem. Nisi, dolore.
          </span>
        </div>
      </div>
      <div class="d-flex align-self-end flex-row-reverse m-t-35">
        <div
          class="product-suite-register-container d-flex justify-content-between align-items-center"
        >
          <div class="register-now ">
            <h5>Register for an Account</h5>
            <p>It only takes 60 seconds</p>
          </div>
          <a class="btn">Register</a>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="programs">
  <div class="d-flex">
    <div class="program-container">
      <h3 class="program-heading">Late Liquidity Program</h3>
      <hr />
      <div class="program-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias quae
        nostrum quas dicta aliquid rem maiores ea at labore ipsum! Provident
        blanditiis, maiores eaque laudantium laborum earum itaque repudiandae!
        Labore.
      </div>
      <a class="btn">Know More</a>
    </div>
    <div class="program-container">
      <h3 class="program-heading">Late Liquidity Program</h3>
      <hr />
      <div class="program-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias quae
        nostrum quas dicta aliquid rem maiores ea at labore ipsum! Provident
        blanditiis, maiores eaque laudantium laborum earum itaque repudiandae!
        Labore.
      </div>
      <a class="btn">Know More</a>
    </div>
    <div class="program-container">
      <h3 class="program-heading">Late Liquidity Program</h3>
      <hr />
      <div class="program-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias quae
        nostrum quas dicta aliquid rem maiores ea at labore ipsum! Provident
        blanditiis, maiores eaque laudantium laborum earum itaque repudiandae!
        Labore.
      </div>
      <a class="btn">Know More</a>
    </div>
    <div class="program-container">
      <h3 class="program-heading">Late Liquidity Program</h3>
      <hr />
      <div class="program-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias quae
        nostrum quas dicta aliquid rem maiores ea at labore ipsum! Provident
        blanditiis, maiores eaque laudantium laborum earum itaque repudiandae!
        Labore.
      </div>
      <a class="btn">Know More</a>
    </div>
  </div>
</section>

<section class="features"></section>

<section class="start-trading"></section>

<section class="last-section"></section>

<app-footer></app-footer>
<div class="menu-overlay"></div>
