<div class="side-panel">
  <div class="side-panel-inner">
    <p class="banner-tagline">The <strong>First</strong> Complete</p>
    <h1>Crypto Derivatives Exchange</h1>
    <ul class="features">
      <li><strong>ZERO Trading Fee for ICO Investors</strong></li>
      <li><strong>IDAP Token Reference Price on the Exchange: <br>
           50% Premium to ICO price</strong> </li>
      <li><strong>Refer Friends for ICO. Earn 25% of What They Invest</strong></li>
      <li><strong>Public Sale Phase III is live.&nbsp; <a href="https://tokensale.idap.io/index.php" target="_blank" style="color:#fff;font-size:18px;text-decoration:underline;">Contribute Now!</a></strong></li>
    </ul>
    <a href="https://tokensale.idap.io" target="_blank" class="btn-more">Learn More</a>
    <a href="/trade/" class="btn-trade">View Exchange</a>
  </div>
</div>