<!-- <aside id="aside" class="aside">
  <nav class="sidebar-nav">
    <ul id="sidebarnav"> 
      <li>
        <a
          class="has-arrow"
          href="javascript:void(0)"
          [ngClass]="{ active: walletSlide }"
          (click)="walletSlide = !walletSlide"
        >
          <span class="icoflexn">
            <i class="fa fa-wallet"></i>
          </span>
          <span>{{ "langDashboardLeftMenu.lblWallet" | translate }}</span>
        </a>
        <ul
          class="collapse in"
          [ngStyle]="{ display: walletSlide ? 'block' : 'none' }"
        >
          <li>activeSubOptionsArray
            <a routerLink="/dashboard/balances" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblBalances" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/deposits" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblDeposit" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/address" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblAddress" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/withdraw" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblWithdraw" | translate
            }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a
          class="has-arrow"
          href="javascript:void(0)"
          [ngClass]="{ active: accountSlide }"
          (click)="accountSlide = !accountSlide"
        >
          <span class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <span>{{ "langDashboardLeftMenu.lblAccPref" | translate }}</span>
        </a>
        <ul
          class="collapse in"
          [ngStyle]="{ display: accountSlide ? 'block' : 'none' }"
        >
          <li>
            <a routerLink="/dashboard/account" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblMyProfile" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/security" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblSecurity" | translate
            }}</a>
          </li>
          <li><a href="settings.html">Settings</a></li>
          <li>
            <a routerLink="/dashboard/affiliate" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblAffiliate" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/leaderboard" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblLeaderBoard" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/apiSecret" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblApiSecret" | translate
            }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a
          class="has-arrow"
          href="javascript:;"
          [ngClass]="{ active: historySlide }"
          (click)="historySlide = !historySlide"
        >
          <span class="icon">
            <i class="fa fa-history"></i>
          </span>
          <span>{{ "langDashboardLeftMenu.lblHistory" | translate }}</span>
        </a>
        <ul
          class="collapse in"
          [ngStyle]="{ display: historySlide ? 'block' : 'none' }"
        >
          <li>
            <a routerLink="/dashboard/tradeHistory" routerLinkActive="active">{{
              "langDashboardLeftMenu.lblTradeHist" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/orderHistory" routerLinkActive="active">
              {{ "langDashboardLeftMenu.lblOrdHist" | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside> -->

<div class="main-select-list d-flex justify-content-center d-md-block">
  <ul
    *ngIf="dataService.phoneMenu"
    class="dashboard-menu mobile-menu ctivatedRoute,
    this.historySlide = false;d-flex align-items-center flex-column d-md-none"
  >
    <li
      (click)="selectOption(opt)"
      *ngFor="let opt of options"
      [ngClass]="{ activated: opt == selectedOption }"
      class="graded-back"
    >
      {{ opt | translate }}
    </li>
  </ul>

  <ul class="dashboard-menu select-menu d-none  d-md-flex">
    <li
      (click)="selectOption(opt)"
      *ngFor="let opt of options"
      [ngClass]="{ activated: opt == selectedOption }"
      class="graded-back"
    >
      {{ opt | translate }}
    </li>
  </ul>
  <ul class="dashboard-menu sub-menu m-t-5 d-none d-md-flex">
    <li
      class="graded-back"
      routerLink="{{ opt.rl }}"
      [ngClass]="{ activated: opt.d == selectedSubmenu.d }"
      *ngFor="let opt of activeSubOptionsArray"
    >
      {{ opt.d | translate }}
    </li>
  </ul>
</div>
<div class="phone-only-container d-flex d-md-none justify-content-start ">
  <ul class="phone-sub-menu d-flex  d-md-none">
    <li
      (click)="selectPhoneSubMenu()"
      [ngClass]="{ activated: opt.d == selectedSubmenu.d }"
      routerLink="{{ opt.rl }}"
      *ngFor="let opt of activeSubOptionsArray"
    >
      {{ opt.d | translate }}
    </li>
  </ul>
</div>
