<aside id="aside" class="aside">
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li>
        <a class="has-arrow active" href="javascript:;">
          <span class="icon">
            <i class="fa fa-wallet"></i>
          </span>
          <span>{{ 'dashboardLeftMenu.lblWallet' | translate }}</span>
        </a>
        <ul class="collapse in">
          <li>
            <a routerLink="/dashboard/balances" routerLinkActive="active">{{ 'dashboardLeftMenu.lblBalances' | translate }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/deposits" routerLinkActive="active">{{ 'dashboardLeftMenu.lblDeposit' | translate }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/withdraw" routerLinkActive="active">{{ 'dashboardLeftMenu.lblWithdraw' | translate }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow active" href="javascript:void(0)">
          <span class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <span>{{ 'dashboardLeftMenu.lblAccPref' | translate }}</span>
        </a>
        <ul class="collapse in">
          <li>
            <a routerLink="/dashboard/account" routerLinkActive="active">{{ 'dashboardLeftMenu.lblMyProfile' | translate }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/security" routerLinkActive="active">{{ 'dashboardLeftMenu.lblSecurity' | translate }}</a>
          </li>
          <!--li><a href="settings.html">Settings</a></li>
              <li><a href="affiliate.html">Affiliate</a></li-->
        </ul>
      </li>
      <li>
        <a class="has-arrow active" href="javascript:;">
          <span class="icon">
            <i class="fa fa-history"></i>
          </span>
          <span>{{ 'dashboardLeftMenu.lblHistory' | translate }}</span>
        </a>
        <ul class="collapse in">
          <li>
            <a routerLink="/dashboard/tradeHistory" routerLinkActive="active">{{ 'dashboardLeftMenu.lblTradeHist' | translate }}</a>
          </li>
          <li>
            <a routerLink="/dashboard/orderHistory" routerLinkActive="active">{{ 'dashboardLeftMenu.lblOrdHist' | translate }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>