body {
  color: #666;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #000000;
}

.mat-form-field-label {
  color: #757575 !important;
}

.mat-form-field-underline {
  background-color: #757575 !important;
}

div.bg-holder {
  background-color: black !important;

  background: black
    url(../src/assets/images/iPhone-X-Isometric-View-Mockup1.svg) no-repeat;
  //   margin-top: 40px;
  min-height: 85vh;
}

.form {
  background: linear-gradient(to bottom, #1b1b1b, #101010);
  padding: 0px !important;
  border-radius: 5px;
}

.form-header {
  background: linear-gradient(to bottom, #1b1b1b, #131313);
  font-size: 36px;
  color: #df8f2b;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

.form-body {
  background: linear-gradient(to bottom, #1c1c1c, #101010);
  padding: 12%;
  border-radius: 5px;
}

.form-field {
  margin-top: 50px;
  color: #757575;
  /* border-bottom: 1px solid gray; */
}

.active-field label {
  color: #df8f2b;
}

.form-input-login {
  border: none;
  border-bottom: 1px solid gray;
  color: #757575;
  background: inherit;
  min-width: 73%;
}

.form-input-login::-webkit-input-placeholder {
  text-align: left;
}

.form-input-login:focus::-webkit-input-placeholder {
  color: #df8f2b;
}

.form-input-login:focus {
  outline: none;
  border-bottom: 1px solid #f8b043;
  color: #f8b043;
}

.forgot-password {
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

.btn-holder {
  // margin-top: 75px;
}

.btn-holder button {
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 15px;
  outline: none;
}

.login-btn-form {
  background: linear-gradient(to bottom, #f9b649, #df8f2b);
  font-weight: 600;
}

.reg-btn-form {
  background-color: inherit;
}

.no-acc {
  font-size: 12px;
  color: #444444;
}

.reg {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.select-country-dropdown:focus {
  color: #df8f2b;
  border-bottom: 1px solid #df8f2b;
}

/* sm */
@media screen and (max-width: 1279px) {
  .form-header {
    font-size: 32px;
    padding: 5px 5px;
  }
  .form-body {
    padding: 15px;
  }

  div.bg-holder {
    background-image: none;
  }
  .btn-holder button {
    width: 100%;
  }
  .reg {
    margin-left: 15px;
  }
}

/* lg */
@media screen and (min-width: 1280px) {
  div.bg-holder {
    background-size: 880px 880px;
    background-position: 60px -144px;
    width: 95%;
  }
  .forgot-password {
    border-bottom: solid 1px #757575;
  }
  .btn-holder button {
    width: 50%;
  }
}

/* xl */
@media screen and (min-width: 1500px) {
  div.bg-holder {
    background-size: 1000px 960px;
    background-position: 60px -110px;
    width: 80%;
    width: 80%;
  }

  .form {
    margin-top: 171px;
  }
}
