<div class="widget">
    <div class="widget-header">
      <h4>Change Login Password</h4>
    </div>
    <form role="form">
      <div class="form-group input-ico pwd">
        <label for="OldPassword">Current Password</label>
        <input type="password" class="form-input" id="OldPassword" placeholder="">
          </div>
        <div class="form-group input-ico pwd">
          <label for="NewPassword">Password</label>
          <input type="password" class="form-input" id="NewPassword" placeholder="">
          </div>
          <div class="form-group input-ico pwd">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-input" id="ConfirmPassword" placeholder="">
          </div>
            <button type="submit" class="form-button form-button-sm">Update Password</button>
    </form>
  </div>